@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #003049;
  --color-secondary: #D62828;
  --color-accent: #F77F00;
  --color-background: #FCFCFC;
  --color-text: #00263A;
}

body {
  color: var(--color-text);
  background: var(--color-background);
}

@layer components {
  .btn-primary {
    @apply px-8 py-3 rounded-md hover:opacity-90 transition-colors;
    background: var(--color-accent);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
  }
}